
/* Curousel image height  */
.carousel-item>img{
    height: 450px;
}

/* Happy customer shadow */
.happy-brand :hover{
    box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.30);
}

/* White text */
.whitetext{
    color: white;
}

/* Only Phoen CSS */
@media (min-width: 576px) { 
    .mobile-cta {
        display: none;
    } 
}

/* Phone button floating  */
.mobile-cta {
    position: fixed;
    bottom: 64px;
    width: 42px;
    z-index: 999;
    /* display: none; */
    right: 10px;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
}

/* Phone button floating  */
.phone-flot-button{
    text-decoration: none;
    cursor: pointer;
    background: #1dbc55;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    display: block;
    overflow: hidden;
    text-align: center;
    box-sizing: border-box;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.46);
    color: #fff;
    font-size: 22px;
    padding-top: 4px;
    margin-bottom: 10px;
}



/* slick button parent  */
.buttonSilckParent{
    display: flex;
    align-items: center;
    height: 100%;
    background-color: #0c00020a;;
}
.buttonSilckParent:hover{
    background-color: #0c000233;
}
/* Button in slick */
.nextArrowBtn{
    position: absolute;
    z-index: 1000;
    top: 0%;
    right: 0;
    color: #BFAFB2;
    cursor: pointer;
}
.prevArrowBtn{
    position: absolute;
    z-index: 1000;
    top: 0%;
    left: 0;
    color: #BFAFB2;
    cursor: pointer;
}
