@import url("https://fonts.googleapis.com/css?family=Catamaran:400,500,600,700,700|Source+Sans+Pro:400,600");
/*===================================
Show List
====================================*/

body {
    background-color: azure;
}

.container {
  padding-top: 10px;
  padding-bottom: 10px; 
}

.img1 {
    height: 100;
    padding: 5;
    width: 100%;
  }


.cusView {
  height:50px;
  margin: 2px;
  width: 50px;
}

.nav-text {
  /* line-height: 20px;
  font-size: 16px;
  letter-spacing: .1px;
  font-weight: 800; */
  color: #fff;
  cursor: pointer;

}

.logo-view{
  width:100px;
}

.bd-navbar .navbar-nav .nav-link.active {
  font-weight: 600;
}
.navbar-brand{
  font-size: 22px;
  font-weight: 800;
  color: #fff;
}
.bodyView {
  position: relative;
  margin-top: 70px;
}

.povView {
    height:100px;
    margin: 5px;
    width: 100px;
}

.authHeading {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.profileview {
    background-color: seashell;
    padding-top: 50px;
    height: 400;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.signupform {
  margin-top: 7%;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.sub-container {
  display: grid;
  grid-row-gap: 5px;
  grid-column-gap:5px;
  grid-template-columns: auto auto auto auto;
  padding: 10px;
}

.sub-item {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 30px;
  text-align: center;
}
@media screen and (max-width: 600px) {
  .povView {
    height:90px;
    margin: 5px;
    width: 90px;
  }
}

@media screen and (max-width: 600px) {
  .sub-item {
    width: 150px;
  }

  .sub-container {
    overflow: auto;
  }
}

.bton {
  display: grid;
  grid-column-gap:1%;
  grid-template-columns: auto auto auto;
}

.bton-item {
  color: black;
  font-size: 20px;
  text-align: center;
}
/* 
.salonList-container {
  display: grid;
  grid-column-gap:2%;
  grid-template-columns: 40% 59%;
} */

/* .salonList-item {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: left;
} */

.workList-item {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: right;
}

.left-item {
  text-align: left;
}


.feedback-container {
  display: grid;
  grid-column-gap:5px;
  grid-template-columns: auto auto;
}

.feedback-item {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
}

.shop-cart-item {
  text-align: right;
}

.grid-container {
  position: relative;
  display: grid;
  align-content: space-between;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  margin-top: 5%;
}

.grid-container > div {
  border-style: solid;
  border-width: medium;
  font-size: 20px;
  height: 80%;
  overflow: scroll;
}

.salun_template {
  background-image: url("../images/saloon.png");
  background-size: cover;
  background-position: center;
  height: 800px;
  position: relative;
}


/* .signup-view {
    background-image: url("../images/backpic.png");
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    align-content: center;
  } */

  .home-view,.signup-view {
    background-image: url("../images/backpic.png");
    background-size: cover;
    background-position: center;
    /* height: 40%; */
    /* position: relative; */
    display: flex;
    align-items: center;
    align-content: center;
  }
  
  .signup-view:before {
    content: '';
    background: rgba(65, 21, 21, 0.63);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
  .signup-view .block {
    color: #fff;
  }
  
  .signup-view .block h1 {
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: uppercase;
  }
  
  .signup-view .block p {
    color: #fff;
    width: 50%;
    margin-bottom: 20px;
  }
  
  .signup-view .block .btn-main {
    margin-right: 8px;
  }
  
  .signup-view .block .btn-main:hover {
    opacity: .8;
  }
  
  .signup-view-video {
    height: 100vh;
    position: inherit !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .signup-view-video .block {
    color: #fff;
    text-align: center;
  }
  
  .signup-view-video .block h1 {
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  
  .signup-view-video .block p {
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 3px;
    margin-bottom: 20px;
  }
  
  .signup-view-video .block .btn-main {
    margin-top: 20px;
  }
  
/* title color bole nav bar */
.navbar-dark .navbar-nav .active>.nav-link{
  color: #fff;
  font-weight: 700;
  font-size: larger;
}


/* Secial Effect by aarav */

/************** CARD BUTTON SHADOW EFFECT:START ******************/

.table{
  box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.30);
}
.btn{
  box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.30);
}
.card{
  box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.30);
}
.realShadow{
  box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.30);
}
.realShadow:focus{
  box-shadow: 0 25px 25px 0 rgba(0, 0, 0, 0.2), 0 16px 30px 0 rgba(0, 0, 0, 0.30);
  color: yellow;
}
div{ 
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; 
}
h3{
	font-family: 'Roboto', sans-serif;
}


.btn:hover {
  background-color: #131BB4;
  border-color: #131BB4;
  color: #fff;
}

.btn-outline {
  background-color: transparent;
  color: #131BB4;
}

/* btn styles */

/*Create ripple effec*/

.ripple {
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

.ripple:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background-image: radial-gradient(circle, #fff 10%, transparent 10.01%);
  background-repeat: no-repeat;
  background-position: 50%;
  transform: scale(10, 10);
  opacity: 0;
  transition: transform .5s, opacity 1s;
}

.ripple:active:after {
  transform: scale(0, 0);
  opacity: .3;
  transition: 0s;
}



/* Blow off */
/* 
.rippleWave{
  backface-visibility: hidden;
  position: absolute;
  border-radius: 50%;
  transform: scale(0.7); -webkit-transform: scale(0.7);
  background: rgba(255,255,255, 1);
  opacity: 0.45;
          animation: ripple 2s forwards;
  -webkit-animation: ripple 2s forwards;
} */
@keyframes ripple-shadow {
  0%   {box-shadow: 0 0 0 rgba(0,0,0,0.0);}
  20%  {box-shadow: 0 4px 16px rgba(0,0,0,0.3);}
  100% {box-shadow: 0 0 0 rgba(0,0,0,0.0);}
}
@-webkit-keyframes ripple-shadow {
  0%   {box-shadow: 0 0 0 rgba(0,0,0,0.0);}
  20%  {box-shadow: 0 4px 16px rgba(0,0,0,0.3);}
  100% {box-shadow: 0 0 0 rgba(0,0,0,0.0);}
}
@keyframes ripple {
  to {transform: scale(24); opacity:0;}
}
@-webkit-keyframes ripple {
  to {-webkit-transform: scale(24); opacity:0;}
}












/************** CARD BUTTON SHADOW EFFECT:END ******************/

/*************scrollbar:START **************/

.scrollbar-ripe-malinka::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px; 
}

.scrollbar-ripe-malinka::-webkit-scrollbar {
  width: 5px;
  height: 10px;
  background-color: #F5F5F5; 
}

.scrollbar-ripe-malinka::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-image: -webkit-linear-gradient(330deg, #f093fb 0%, #f5576c 100%);
  background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%); 
}

/*************scrollbar:END **************/







/*********** PLACEHOLDER CSS:START ********/


.timeline-item {
    background: #fff;
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    border-radius: 3px;
    padding: 12px;

    margin: 0 auto;
    /* max-width: 472px; */
    /* min-height: 200px; */
}

@keyframes placeHolderShimmer{
    0%{
        background-position: -468px 0
    }
    100%{
        background-position: 468px 0
    }
}

.animated-background {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    background-size: 800px 104px;
    height: 96px;
    position: relative;
}






.background-masker {
    background: #fff;
    position: absolute;
}

/* Every thing below this is just positioning */

.background-masker.header-top,
.background-masker.header-bottom,
.background-masker.subheader-bottom {
    top: 0;
    left: 40px;
    right: 0;
    height: 10px;
}

.background-masker.header-left,
.background-masker.subheader-left,
.background-masker.header-right,
.background-masker.subheader-right {
    top: 10px;
    left: 40px;
    height: 8px;
    width: 10px;
}

.background-masker.header-bottom {
    top: 18px;
    height: 6px;
}

.background-masker.subheader-left,
.background-masker.subheader-right {
    top: 24px;
    height: 6px;
}


.background-masker.header-right,
.background-masker.subheader-right {
    width: auto;
    left: 300px;
    right: 0;
}

.background-masker.subheader-right {
    left: 230px;
}

.background-masker.subheader-bottom {
    top: 30px;
    height: 10px;
}

.background-masker.content-top,
.background-masker.content-second-line,
.background-masker.content-third-line,
.background-masker.content-second-end,
.background-masker.content-third-end,
.background-masker.content-first-end {
    top: 40px;
    left: 0;
    right: 0;
    height: 6px;
}

.background-masker.content-top {
    height:20px;
}

.background-masker.content-first-end,
.background-masker.content-second-end,
.background-masker.content-third-end{
    width: auto;
    left: 380px;
    right: 0;
    top: 60px;
    height: 8px;
}

.background-masker.content-second-line  {
    top: 68px;
}

.background-masker.content-second-end {
    left: 420px;
    top: 74px;
}

.background-masker.content-third-line {
    top: 82px;
}

.background-masker.content-third-end {
    left: 300px;
    top: 88px;
}


/*********** PLACEHOLDER CSS:END ********/


/* Checked start in ratting  */
.checkedStar {
  color: orange;
}