@import url("https://fonts.googleapis.com/css?family=Catamaran:400,500,600,700,700|Source+Sans+Pro:400,600");
/*===================================
Show List
====================================*/

body {
    background-color: azure;
}

.container {
  padding-top: 10px;
  padding-bottom: 10px; 
}

.img1 {
    height: 100;
    padding: 5;
    width: 100%;
  }


.cusView {
  height:50px;
  margin: 2px;
  width: 50px;
}

.logo-view{
  width:100px;
}

.bodyView {
  position: relative;
  margin-top: 70px;
}

.povView {
    height:100px;
    margin: 5px;
    width: 100px;
}

.authHeading {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.profileview {
    background-color: seashell;
    padding-top: 50px;
    height: 400;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.signupform {
  margin-top: 7%;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.sub-container {
  display: grid;
  grid-row-gap: 5px;
  grid-column-gap:5px;
  grid-template-columns: auto auto auto auto;
  padding: 10px;
}

.sub-item {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 30px;
  text-align: center;
}
@media screen and (max-width: 600px) {
  .povView {
    height:90px;
    margin: 5px;
    width: 90px;
  }
}

@media screen and (max-width: 600px) {
  .sub-item {
    width: 150px;
  }

  .sub-container {
    overflow: auto;
  }
}

.bton {
  display: grid;
  grid-column-gap:1%;
  grid-template-columns: auto auto auto;
  background-color: cornsilk;
}

.bton-item {
  color: black;
  font-size: 20px;
  text-align: center;
}

.salonList-container {
  display: grid;
  grid-column-gap:2%;
  grid-template-columns: 40% 59%;
}

.salonList-item {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
}

.workList-item {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: right;
}


.feedback-container {
  display: grid;
  grid-column-gap:5px;
  grid-template-columns: auto auto;
}

.feedback-item {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
}



.grid-container {
  position: relative;
  display: grid;
  align-content: space-between;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  margin-top: 5%;
}

.grid-container > div {
  border-style: solid;
  border-width: medium;
  font-size: 20px;
  height: 80%;
  overflow: scroll;
}

.salun_template {
  background-image: url("../images/pricing-bg.jpg");
  background-size: cover;
  height: 100px;
  position: relative;
}


.signup-view {
    background-image: url("../images/backpic.jpg");
    background-size: cover;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    align-content: center;
  }

  .home-view {
    background-image: url("../images/backpic.jpg");
    background-size: cover;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    align-content: center;
  }
  
  .signup-view:before {
    content: '';
    background: rgba(65, 21, 21, 0.63);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
  .signup-view .block {
    color: #fff;
  }
  
  .signup-view .block h1 {
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: uppercase;
  }
  
  .signup-view .block p {
    color: #fff;
    width: 50%;
    margin-bottom: 20px;
  }
  
  .signup-view .block .btn-main {
    margin-right: 8px;
  }
  
  .signup-view .block .btn-main:hover {
    opacity: .8;
  }
  
  .signup-view-video {
    height: 100vh;
    position: inherit !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .signup-view-video .block {
    color: #fff;
    text-align: center;
  }
  
  .signup-view-video .block h1 {
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  
  .signup-view-video .block p {
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 3px;
    margin-bottom: 20px;
  }
  
  .signup-view-video .block .btn-main {
    margin-top: 20px;
  }
  
