/* NAv bar hover */


/* Curousel image height  */
.carousel-item>img{
    height: 450px;
}

/* Only Phoen CSS */

/* PC VIEW active */
@media all and (min-width:992px) and (max-width: 2000px) {
   
    .onlyonPhone{
        display: none;
    }
    .largeFontForPC1{
        font-size: 4.5rem;
        font-weight: 300;
        line-height: 1.2;
    }
}


/* Mobile VIEW active */
@media all and (min-width:0px) and (max-width: 991px) {
    
    .onlyonPC{
        display: none;
    }
}
  


/* White text */
.whitetext{
    color: white;
}



/* shadow */
.realShadow{
    box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.30);
}



.facebook-hover:hover{
    color:#3b5998;
}

.twitter-hover:hover{
    color:#55acee;
}

.instagram-hover:hover{
    color:#dd3571;
}

.linkedin-hover:hover{
    color:#007bb6;
}

.whatsapp-hover:hover{
    color:#58f574;
}

.googlePlus-hover:hover{
    color:#d04337;
}

.youtube-hover:hover{
    color:#ee1c1b;
}


/* Link Wihout Decoration */
.nonDecoLink{
    text-decoration: none; 
    color: white; 
    cursor: pointer;
}
.nonDecoLink:hover{
    text-decoration: none; 
    color: white; 
    cursor: pointer;
}

.nonDecoLinkFooter{
    text-decoration: none; 
    color: #5a5b5c;
    cursor: pointer;
}
.nonDecoLinkFooter:hover{
    text-decoration: none; 
    color: white; 
    cursor: pointer;
}



/* Fotter */
footer{
    background: #141516;
    color:#5a5b5c;
}

/* Vertica line */
.drawVertilineOnStart{
    width: 1px;
    height: 32px;
    content: '';
    position: absolute;
    background: #666666;
    left: -50px;
    top: 0;
}

/* Darken image 50% */
.darken50{
    filter: brightness(50%);
}

/* hover image zoom */
/* [1] The container */
.img-hover-zoom {
    overflow: hidden; /* [1.2] Hide the overflowing of child elements */
}

/* [2] Transition property for smooth transformation of images */
.img-hover-zoom img {
    transition: transform .5s ease;
}

/* [3] Finally, transforming the image when container gets hovered */
.img-hover-zoom:hover img {
    transform: scale(1.2);
}